In [4]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi'],
     'age' : [22, 25, 24],
      'id' : [6,8,7]}
df = pd.DataFrame(di)
print(df)
print()
dfs= df.sort_values(by = ['id','age'])
print(dfs)

   name  age  id
0   sam   22   6
1  sinu   25   8
2  abhi   24   7

   name  age  id
0   sam   22   6
2  abhi   24   7
1  sinu   25   8