In [4]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi','hema','malik'],
     'occu' : ['doctor','engineer','driver','doctor','driver'],
     'sala' : [22000, 25500, 17000,23400,14000]}
df = pd.DataFrame(di)
print(df)
print()
avg_sal=df.groupby('occu')['sala'].mean()
print(avg_sal)

    name      occu   sala
0    sam    doctor  22000
1   sinu  engineer  25500
2   abhi    driver  17000
3   hema    doctor  23400
4  malik    driver  14000

occu
doctor      22700.0
driver      15500.0
engineer    25500.0
Name: sala, dtype: float64